@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #707070;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  color: #707070;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
.wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}
#header .logo {
  max-width: 120px;
}
#header .logo a {
  display: block;
}
#header .navi {
  display: flex;
  align-items: center;
}
#header .navi li {
  font-size: 14px;
  margin-left: 40px;
}
.mainvisual {
  margin-bottom: 80px;
}
.introduction {
  margin-bottom: 80px;
  text-align: center;
}
.introduction .catchphrase {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}
.introduction .text {
  font-size: 14px;
}
.section-title {
  font-weight: normal;
  margin-top: 40px;
}
.section-title .en {
  display: block;
  font-size: 40px;
}
.section-title .ja {
  display: block;
  font-size: 14px;
}
#profile {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
#profile .img {
  width: 50px;
}
#profile .detail {
  width: 50%;
  padding-left: 80px;
}
#profile .detail p {
  font-size: 14px;
  line-height: 2;
}
/* ----------------------------------
スマートフォン
---------------------------------- */
@media screen and (max-width: 767px) {
  .mainvisual {
    margin-bottom: 50px;
  }

  .introduction {
    margin-bottom: 50px;
  }

  .introduction .catchphrase {
    font-size: 16px;
  }

  .introduction .text {
    text-align: left;
  }
}
